* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color:black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color:black;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.no{
    display: flex;
    flex-wrap: nowrap;
    color: black;
}
/* #Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;} */

.styl{
    color: black;
}

.end{
    border: 3px solid black;
    height: 400px;
    padding-top: 25px;
    
    padding-left: 40px;
}

.endy{
    border: 3px solid black;
    padding-top: 20px;
    padding-left: auto;
}

.cent{
    text-align: center;
}